.bg{
  font-family: Lato;
  background: #282828;
  color: #AAAAAA;
}

h1 {
    font: 600 1.5em/1 'Lato', sans-serif;
    color: #888888;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 25%;
    width: 100%;
}
span, span:after {
    font-weight: 900;
    color: #888888;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    letter-spacing: .1em;
}

span {
    font-size: 4em;
    z-index: 100;
    text-shadow: .04em .04em 0 #9cb8b3;
}

span:after {
    content: attr(data-shadow-text);
    color: #AAAAAA;
    text-shadow: none;
    position: absolute;
    left: .0875em;
    z-index: -1;
    -webkit-mask-image: url(http://f.cl.ly/items/1t1C0W3y040g1J172r3h/mask.png);
}

#ip{
  width:180px;
  height:30px;
}

.carousel{
  height:400px;
}

#marginn{
  padding-left: 30%;
  border-color: #182508;

}

.icon{
  height:200px;
  width:200px;
}

#container2{
  visibility: hidden;
}
#admin{
  visibility: hidden;
}
#padd{
  padding-left: 20%;
}
.theInput{
  width : 300px;
}
#Content{
  background-color: #006688;
}
#logo{
  width : 200px;
  height : 200px;
}
.content{
  width:80%;
  height:80%;
  background-color: #44ee88;
}

.navbar{
  width:20%;
  height:80%;
  background-color: #336688;
}
Toggle{
  height: 70px;
}
